section article {
  margin: 0 0 0 0;

  --block-gap: 48px;
  --block-gap-small: 24px;
}

section article {
  margin-top: var(--block-gap);
}

section article > * {
  margin: var(--block-gap-small) 0 var(--block-gap);
}

section {
  h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    &, a, a:visited {
      color: var(--main-text-color);
    }
  }


  h2 {
    font-size: 1.3em;
    &, a, a:visited {
      font-weight: 500;
    }
    margin-bottom: 6px;
  }

  h3 {
    font-size: 1.2em;
    font-weight: 450;

    border-bottom: 1px solid var(--main-sub-text-color);
    padding-bottom: 5px;
    margin-bottom: 24px;
  }

  h4, h5, h6 {
    font-size: 1.2em;
    font-weight: 450;
    margin-bottom: 24px;
  }
}


section article > img {
  display: block;
}

section article ul {
  padding: 0 0 0 16px;
  list-style-type: disc;
  line-height: 1.4;
}

section article ul ul {
  margin: 0;
}

section article img {
  margin: var(--block-gap-small) -72px var(--block-gap);
  max-width: calc(100% + 144px);
}

@media(max-width: 672px) {
  section article img {
    margin: var(--block-gap-small) -20px var(--block-gap);
  }
}

section article table {
  width: 100%;
  border-collapse:
  collapse; border-spacing: 0;
}

section article td, section article th {
  border: none;
  height: 30px;
  line-height: 30px;
  padding: 3px 6px;
}

section article th {
  font-weight: bold;
  border-bottom: 1px solid #DFDFDF;
}

section article > table tr:nth-child(even) td { background: var(--main-bg-highlight-color); }

section article .highlight {
  margin: var(--block-gap-small) -72px var(--block-gap);
  width: calc(100% + 144px);
}

@media(max-width: 672px) {
  section article .highlight {
    margin: var(--block-gap-small) -20px var(--block-gap);
    width: calc(100% + 40px);
  }
}

section article .highlight > div {
  padding: 8px 20px;
}

section article pre {
  font-family: 'Menlo', monospace;
  line-height: 1.4;
  font-size: 82%;
}

section article .twitter-tweet {
  margin: var(--block-gap-small) 0 var(--block-gap) !important;
}

