{{ define "main" }}
<div id="content">
  <section class="profile-head">
    {{ partial "img" (dict
      "path" "images/avatar.png"
      "class" "avatar"
      "resize" "360x360"
    ) }}

    <div class="text">Hello World!</div>
  </section>

  <!--
  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit.</p>
  </section>
  -->

  <section>
    <article>
      {{ .Content }}
    </article>
  </section>
</div>
{{ end }}

