<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <base href="{{ .Site.BaseURL }}">

    <title>{{ .Site.Title }}</title>

    <link rel="canonical" href="{{ .Permalink }}" />

    <link rel="alternate" type="application/rss+xml" href="{{ .RSSLink }}" title="{{ .Site.Title }}" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css?v={{ now.Unix }}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
    <!-- <script src="https://rawgithub.com/wcoder/highlightjs-line-numbers.js/master/dist/highlightjs-line-numbers.min.js"></script> -->
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- <script>hljs.initLineNumbersOnLoad();</script> -->
</head>
